/* .boxfornum {
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #F6F6F6;
  accent-color: #000;
      outline: none;
  box-shadow: none;
    cursor: pointer;
    border: 0px
}

.boxfornum.alt {
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #000;
    color: #F6F6F6;
    border: 0px

} */